/* CSS Document */
body {
  background: #324565;
  background-image: url(images/ubrznelka_na_nic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%; 
  color: #c7dde0;
};

table.main { 
  border-collapse:collapse;
  width: 100%;
}

td.main {
	padding: 6px;
}

th.menu {
	padding: 6px;
}

h1 {
	color: #7795b4;
	clear: both;
}

h2 {
	color: #89acbd;
	clear: both;
}

h3 {
	color: #89acbd;
}

h4 {
	color: #89acbd;
}

p {
	text-indent: 50px;
}

a {
	color: #ffffff;
}

table.image {
	float: right;
	clear: right;
}

table.galery {
	margin: 6px;
	display: inline-block;
	word-break: keep-all;
	vertical-align: top;
}

table.galery tbody {
	width: 100%;
	display: table;
}

.alt {
	background-color: #324565;
	color: #c7dde0;
}

table.icons {
	margin: 12px;
	display: inline-block;
	background-image: url("style/bg4.png");
	word-break: keep-all;
	vertical-align: top;
}

table.icons tbody {
	width: 100%;
	display: table;
}

img.clickable {
	max-width: 90%;
	max-height: 540px;
}
